.mejs__overlay-loading-bg-img {
    background-image: url("mejs-controls-darcula.svg");
}

.mejs__button > button {
    background-image: url("mejs-controls-darcula.svg");
}

.mejs__overlay-button {
    background-image: url("mejs-controls-darcula.svg");
}

.mejs__container {
  background: transparent;
}

.mejs__container .me_cannotplay a {
  background: transparent;
}

.mejs__controls:not([style*="display: none"]) {
  background: transparent;
}

.mejs__time {
    color: #9e9e9e;
}

.mejs__time-total {
    background: #585858;
}

.mejs__time-buffering {
    background: #585858;
}

.mejs__time-loaded {
    background: #585858;
}

.mejs__time-current, .mejs__time-handle-content {
 background: #727272;
}

.mejs__time-hovered {
 background: #727272;
}

.mejs__time-hovered.negative {
 background: #585858;
}

.mejs__volume-button > .mejs__volume-slider {
 background: rgba(156, 156, 156, 0.3);
}

.mejs__volume-current {
 background: rgba(156, 156, 156, 0.3);
}

.mejs__volume-handle {
 background: rgba(156, 156, 156, 0.3);
}

.mejs__horizontal-volume-total {
 background: rgba(180, 180, 180, 0.4);
}

.mejs__horizontal-volume-current {
 background: rgba(156, 156, 156, 0.4);
}

.mejs__captions-button > .mejs__captions-selector, .mejs__chapters-button > .mejs__chapters-selector {
 background: rgba(50, 50, 50, 0.5);
}

.mejs__captions-selector-list-item, .mejs__chapters-selector-list-item {
 color: #000;
}

.mejs__captions-selector-list-item:hover, .mejs__chapters-selector-list-item:hover {
 background-color: rgb(100, 100, 100) !important;
 background-color: rgba(0, 0, 0, 0.6) !important;
}

.mejs__captions-layer {
 color: #000;
}

.mejs__captions-layer a {
 color: #000;
}
